@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --accent-color: #FE5F00;
    --primary-color: #373737;
    --secondary-color: #B1B1B1;
    --color-white: #FFFFFF;
    --bg-color-dark: #FFBF9B;
    --bg-color-lighter: #FFF7EE;
    --bg-color-white: #FFFFFF;
    --bg-color-white-25: rgba(255, 255, 255, 0.25);
    --btn-bg-color-light: #FFFAF4;
    --input-bg-color: #FCFCFC;
    --placeholder-color: #C0C0C0;
    --line-color: #EDEDED;
}

/* Общие стили */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color-dark);
    padding: 31px;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}

.wrapper {
    border-radius: 30px;
    background-color: var(--bg-color-white);
    /*max-width: 1380px;*/
    margin: 0 auto;
}

.container {
    margin: 0 auto;
    padding: 44px;
}

/* Шапка */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 36px;
    border-bottom: 1px solid var(--line-color);
}

.logo a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;

    & > .logo-text {
        max-width: 200px;
        margin-left: 10px;

        & > .logo-text-title {
            font-size: 24px;
            font-weight: 900;
            text-transform: uppercase;
            color: var(--primary-color);
        }

        & > .logo-text-promo {
            color: var(--secondary-color);
        }

        & ::selection {
            background-color: transparent;
        }
    }
}

.search {
    flex-grow: 1;

    & > .search-form > label {
        position: relative;
        width: 100%;

        & > .icon {
            position: absolute;
            left: 17px;
            top: 3px;
        }

        & > .form-input {
            background-color: var(--input-bg-color);
            border-radius: 15px;
            border: none;
            padding: 14px 14px 14px 50px;
            font-size: 16px;
            color: var(--primary-color);
            font-family: 'Nunito', sans-serif;
            width: 100%;

            &::placeholder {
                color: var(--placeholder-color);
                font-family: 'Nunito', sans-serif;
                font-size: 16px;
            }

            &:focus {
                outline: none;
            }
        }
    }
}

.menu {
    display: flex;
    gap: 16px;

    & > a {
        text-decoration: none;
        font-size: 16px;
        padding: 14px;
        border: 1px solid var(--accent-color);
        border-radius: 15px;
        font-weight: 600;
    }

    & > a:first-of-type {
        width: 130px;
        text-align: center;

        span {
            color: var(--accent-color);

            svg {
                position: relative;
                top: 1px;
            }
        }
    }

    & > a:last-of-type {
        background-color: var(--accent-color);
        color: var(--color-white);
        width: 150px;
        text-align: center;

        .divider {
            width: 1px;
            background-color: var(--bg-color-white);
            opacity: .25;
            display: inline-block;
            height: 100%;
        }

        & > span svg {
            vertical-align: sub;
        }

        & #price {
            padding-right: 13px;
        }

        & #cart-count {
            border-left: 1px solid var(--bg-color-white-25);
            padding-left: 13px;
        }
    }
}