.section-product {
    display: flex;
    justify-content: space-between;

    & > .section-product__product-photo {
        width: 570px;
        height: 570px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--bg-color-lighter);
        border-radius: 20px;

        & > div {
            width: 500px;
            height: 500px;

            & > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}